/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Posts recentes **/
#posts-recentes {
	width: 80px !important;
}

/** Geral >> Post 1 **/
#post-1 {
	background-color: rgb(255, 255, 255) !important;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
	opacity: 1 !important;
}

/** Geral >> Primary **/
#primary {
	filter: opacity(1) !important;
}

/** Geral >> Ast desktop header site header primary section left **/
#ast-desktop-header .site-header-primary-section-left {
	filter: drop-shadow(123px) !important;
}

/** Geral >> Content ast container **/
#content .ast-container {
	background-color: rgb(255, 255, 255) !important;
}

/** Geral >> Entry title link **/
.entry-title a {
	color: black !important;
	opacity: 1 !important;
}

/** Geral >> Colophon **/
#colophon {
	
}

/** Geral >> Colophon ast builder grid row tablet full **/
#colophon .ast-builder-grid-row-tablet-full {
	
}

/** Geral >> Post 10 lazyautosizes **/
#post-10 .lazyautosizes {
	
}

/** Geral >> Uagb block 04edde1c uagb column inner wrap **/
@media screen and (max-width: 600px) {
	
}

/** Geral >> Post 10 uagb columns overlay **/
@media screen and (max-width: 600px) {
	
}

/** Geral >> Post 10 uagb columns overlay _2 **/
@media screen and (max-width: 600px) {
	
}

/** Geral >> Post 10 uagb columns overlay _3 **/
@media screen and (max-width: 600px) {
	
}

/** Geral >> Post 10 uagb columns overlay _4 **/
@media screen and (max-width: 600px) {
	
}

/** Geral >> Uagb block 04edde1c uagb column inner wrap _2 **/
.uagb-block-04edde1c .uagb-column__inner-wrap {
	
}

/** Geral >> Correção **/
.uagb-block-9b6413f8 .uagb-rm__price {
	width: 50px !important;
}


/*= Conteúdo ================= */

/** Conteúdo >> Correção - Quebra de preço no Cardápio Home **/
#post-10 .uagb-rm__text-wrap {
	
}

/** Conteúdo >> Correção - Preço Cárdapio Home **/
.uagb-block-9b6413f8 .uagb-rm__price {
	width: 80px !important;
	border-color: #fff !important;
}

/** Conteúdo >> Correção - Preço Cardápio Home **/
#post-10 .menu-home .uagb-rm__price-wrap {
	width: 80px !important;
	box-sizing: border-box !important;
}

/** Conteúdo >> Post 10 uagb rm price wrap **/
.menu-home #post-10 .uagb-rm__price-wrap {
	width: 80px !important;
	box-sizing: border-box !important;
}

/** Conteúdo >> Correção - Removendo pizza Home em dispositivos móveis **/
#post-10 .image-pizza-home .lazyautosizes {
	
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {

	/*= Geral ===================== */

	/** Geral >> Uagb block 04edde1c uagb column inner wrap _2 **/
	.uagb-block-04edde1c .uagb-column__inner-wrap {
	
}


}


/*( < 980 )*/
@media (max-width: 979.98px) {

	/*= Geral ===================== */

	/** Geral >> Uagb block 04edde1c uagb column inner wrap _2 **/
	.uagb-block-04edde1c .uagb-column__inner-wrap {
	display: none !important;
}


	/*= Conteúdo ================= */

	/** Conteúdo >> Correção - Removendo pizza Home em dispositivos móveis **/
	#post-10 .image-pizza-home .lazyautosizes {
	display: none !important;
}


}

